extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de nosotros")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat consectetur sodales. Proin egestas convallis urna, at facilisis libero maximus sit amet. Nunc volutpat facilisis tortor, id dignissim sem ornare id. Nullam vehicula gravida molestie. Sed sed maximus nulla, non vulputate dui. Proin sapien nisl, tincidunt a lectus quis, 
                p e vel euismod urna. Nulla luctus mauris sed imperdiet sollicitudin. Cras metus lorem, iaculis et velit quis, accumsan finibus urna. Mauris ac urna finibus 
                p Nullam laoreet hendrerit quam, a gravida lorem rutrum ac. Nunc non neque in metus iaculis ultrices. Vestibulum dui magna, blandit et commodo sed, laoreet quis tellus. Praesent sed pulvinar mauris. Vivamus ac bibendum dui.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Nullam laoreet hendrerit quam, a gravida lorem rutrum ac. 
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Nullam laoreet hendrerit quam, a gravida lorem rutrum ac. 
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores precios 
                    p Nullam laoreet hendrerit quam, a gravida lorem rutrum ac.     